INSERT INTO dbo.tbl_types (typeName) VALUES
(N'Colorless'),
(N'Grass'),
(N'Fire'),
(N'Water'),
(N'Lightning'),
(N'Psychic'),
(N'Fighting'),
(N'Darkness'),
(N'Metal'),
(N'Dragon'),
(N'Fairy');

INSERT INTO dbo.tbl_stages (stageName) VALUES
(N'Basic'),
(N'Stage 1'),
(N'Stage 2'),
(N'V'),
(N'VMAX'),
(N'VSTAR'),
(N'EX'),
(N'GX'),
(N'BREAK'),
(N'LV.X'),
(N'Baby'),
(N'Item'),
(N'Supporter'),
(N'Stadium');

INSERT INTO dbo.tbl_collections (collectionsSetName, releaseDate, totalCardsInCollection) VALUES
(N'Base Set', '1999-01-09', 102),
(N'Jungle', '1999-06-16', 64),
(N'Fossil', '1999-10-10', 62);

GO
INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Kadabra', 60, N'Uncommon', N'Confuse Ray', N'30', N'Psychic Ã—2', N'', 2, N'32/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Psychic'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'32/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Alakazam', 80, N'Holo Rare', N'Confuse Ray', N'30', N'Psychic Ã—2', N'', 3, N'1/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Psychic'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 2'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'1/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Geodude', 50, N'Common', N'Stone Barrage', N'10Ã—', N'Grass Ã—2', N'', 1, N'35/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'35/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Graveler', 60, N'Uncommon', N'Harden; Rock Throw', N'20', N'Grass Ã—2', N'', 2, N'37/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'37/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Golem', 80, N'Rare', N'Selfdestruct', N'60', N'Grass Ã—2', N'', 4, N'36/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 2'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'36/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Cubone', 40, N'Common', N'Snivel; Rage', N'10+', N'Grass Ã—2', N'', 1, N'50/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'50/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Marowak', 60, N'Uncommon', N'Bonemerang', N'30Ã—', N'Grass Ã—2', N'', 1, N'39/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'39/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Doduo', 50, N'Common', N'Fury Attack', N'10Ã—', N'Lightning Ã—2', N'', 1, N'48/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'48/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Dodrio', 70, N'Uncommon', N'Rage', N'10+', N'Lightning Ã—2', N'', 2, N'34/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'34/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Ponyta', 50, N'Common', N'Smash Kick; Flametail', N'20', N'Water Ã—2', N'', 1, N'60/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fire'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'60/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Rapidash', 70, N'Uncommon', N'Stomp; Agility', N'30', N'Water Ã—2', N'', 1, N'45/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fire'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'45/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Seadra', 60, N'Uncommon', N'Water Gun', N'20+', N'Lightning Ã—2', N'', 1, N'42/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'42/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Horsea', 40, N'Common', N'Smokescreen', N'10', N'Lightning Ã—2', N'', 1, N'50/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'50/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Krabby', 50, N'Common', N'Call for Family; Iron Grip', N'20', N'Lightning Ã—2', N'', 2, N'51/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'51/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Kingler', 60, N'Uncommon', N'Flail; Crabhammer', N'40', N'Lightning Ã—2', N'', 3, N'39/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'39/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Meowth', 50, N'Common', N'Pay Day', N'10', N'Fighting Ã—2', N'', 1, N'56/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'56/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Persian', 70, N'Uncommon', N'Scratch; Pounce', N'20', N'Fighting Ã—2', N'', 1, N'42/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'42/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Cubone', 50, N'Common', N'Beat', N'20', N'Grass Ã—2', N'', 1, N'50/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'50/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Electabuzz', 70, N'Rare', N'Thunderpunch', N'30+', N'Fighting Ã—2', N'', 2, N'20/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Lightning'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'20/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Electrode', 80, N'Rare', N'Selfdestruct', N'100', N'Fighting Ã—2', N'', 1, N'21/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Lightning'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'21/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Voltorb', 40, N'Common', N'Tackle', N'10', N'Fighting Ã—2', N'', 1, N'58/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Lightning'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'58/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Mankey', 30, N'Common', N'Scratch; Fury Swipes', N'10Ã—', N'Psychic Ã—2', N'', 1, N'55/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'55/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Primeape', 70, N'Uncommon', N'Rage', N'20+', N'Psychic Ã—2', N'', 1, N'44/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'44/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Pidgey', 40, N'Common', N'Whirlwind', N'10', N'Lightning Ã—2', N'Fighting âˆ’30', 1, N'57/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'57/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Pidgeotto', 60, N'Uncommon', N'Whirlwind; Mirror Move', N'20', N'Lightning Ã—2', N'Fighting âˆ’30', 1, N'22/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'22/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Farfetchâ€™d', 50, N'Uncommon', N'Leek Slap; Pot Smash', N'30', N'Lightning Ã—2', N'Fighting âˆ’30', 1, N'27/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'27/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Ekans', 40, N'Common', N'Poison Sting', N'10', N'Psychic Ã—2', N'', 1, N'54/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'54/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Arbok', 60, N'Uncommon', N'Terror Strike', N'30', N'Psychic Ã—2', N'', 2, N'31/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'31/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Rhyhorn', 70, N'Common', N'Leer; Horn Attack', N'30', N'Grass Ã—2', N'', 3, N'48/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'48/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Rhydon', 100, N'Rare', N'Horn Attack; Ram', N'50', N'Grass Ã—2', N'', 4, N'45/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'45/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Tentacool', 30, N'Common', N'Cowardice', N'', N'Lightning Ã—2', N'', 1, N'56/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'56/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Tentacruel', 60, N'Uncommon', N'Supersonic; Jellyfish Sting', N'10+', N'Lightning Ã—2', N'', 1, N'43/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'43/62');
GO
INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Gastly', 30, N'Common', N'Lick; Energy Conversion', N'10', N'Psychic Ã—2', N'Fighting âˆ’30', 1, N'33/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Psychic'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'33/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Drowzee', 50, N'Common', N'Hypnosis', N'', N'Psychic Ã—2', N'', 1, N'49/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Psychic'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'49/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Hypno', 90, N'Rare', N'Prophecy; Dark Mind', N'30', N'Psychic Ã—2', N'', 2, N'8/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Psychic'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'8/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Venonat', 40, N'Common', N'Leech Life', N'10', N'Fire Ã—2', N'', 1, N'63/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'63/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Venomoth', 70, N'Rare', N'Shock; Venom Powder', N'10', N'Fire Ã—2', N'', 1, N'13/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'13/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Butterfree', 70, N'Uncommon', N'Whirlwind', N'20', N'Fire Ã—2', N'Fighting âˆ’30', 1, N'33/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 2'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'33/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Beedrill', 80, N'Rare', N'Twinedle; Poison Sting', N'30', N'Fire Ã—2', N'', 1, N'17/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 2'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'17/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Pidgeot', 80, N'Rare', N'Hurricane', N'30', N'Lightning Ã—2', N'Fighting âˆ’30', 2, N'8/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 2'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'8/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Nidoranâ™€', 40, N'Common', N'Scratch', N'10', N'Psychic Ã—2', N'', 1, N'55/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'55/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Nidorina', 70, N'Uncommon', N'Double Kick', N'30Ã—', N'Psychic Ã—2', N'', 2, N'36/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'36/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Nidoqueen', 90, N'Rare', N'Boyfriends', N'20+', N'Psychic Ã—2', N'', 2, N'7/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 2'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'7/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Nidoranâ™‚', 40, N'Common', N'Horn Hazard', N'30', N'Psychic Ã—2', N'', 1, N'56/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'56/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Nidorino', 60, N'Uncommon', N'Horn Drill', N'50', N'Psychic Ã—2', N'', 2, N'37/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'37/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Nidoking', 90, N'Holo Rare', N'Horn Attack; Thrash', N'30+', N'Psychic Ã—2', N'', 3, N'11/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 2'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'11/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Koffing', 50, N'Common', N'Foul Gas', N'10', N'Psychic Ã—2', N'', 2, N'51/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'51/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Weezing', 60, N'Uncommon', N'Smokescreen', N'20', N'Psychic Ã—2', N'', 3, N'36/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'36/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Paras', 40, N'Common', N'Scratch; Leech Life', N'10', N'Fire Ã—2', N'', 1, N'47/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'47/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Parasect', 60, N'Uncommon', N'Spore; Slash', N'30', N'Fire Ã—2', N'', 1, N'28/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'28/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Pinsir', 60, N'Rare', N'Iron Grip; Guillotine', N'50', N'Fire Ã—2', N'', 2, N'25/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Grass'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'25/64');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Goldeen', 40, N'Common', N'Horn Attack', N'10', N'Lightning Ã—2', N'', 1, N'53/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'53/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Seaking', 70, N'Uncommon', N'Waterfall', N'30', N'Lightning Ã—2', N'', 1, N'47/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'47/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Slowpoke', 50, N'Common', N'Spacing Out; Scavenge', N'', N'Psychic Ã—2', N'', 1, N'54/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Psychic'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'54/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Slowbro', 60, N'Uncommon', N'Thick Skinned; Psychic', N'20', N'Psychic Ã—2', N'', 2, N'40/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Psychic'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'40/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Shellder', 30, N'Common', N'Supersonic; Clamp', N'30', N'Lightning Ã—2', N'', 1, N'54/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'54/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Cloyster', 50, N'Uncommon', N'Clamp; Spike Cannon', N'30Ã—', N'Lightning Ã—2', N'', 2, N'33/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'33/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Onix', 90, N'Common', N'Rock Throw; Harden', N'10', N'Grass Ã—2', N'', 3, N'56/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Fighting'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'56/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Starmie', 60, N'Uncommon', N'Slap; Star Freeze', N'20', N'Lightning Ã—2', N'', 1, N'64/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'64/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Psyduck', 50, N'Common', N'Headache; Fury Swipes', N'10Ã—', N'Lightning Ã—2', N'', 1, N'53/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'53/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Golduck', 70, N'Uncommon', N'Super Psy', N'50', N'Lightning Ã—2', N'', 1, N'37/62',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Water'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Fossil'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'37/62');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Jigglypuff', 60, N'Common', N'Lullaby; Pound', N'20', N'Fighting Ã—2', N'', 1, N'54/102',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Basic'
WHERE c.collectionsSetName=N'Base Set'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'54/102');

INSERT INTO dbo.tbl_cards (name, hp, info, attack, damage, weak, resist, retreat, cardNumberInCollection, collectionId, typeId, stageId)
SELECT N'Wigglytuff', 80, N'Rare', N'Do the Wave', N'10+', N'Fighting Ã—2', N'', 2, N'19/64',
       c.collectionId, t.typeId, s.stageId
FROM dbo.tbl_collections c
JOIN dbo.tbl_types t ON t.typeName=N'Colorless'
JOIN dbo.tbl_stages s ON s.stageName=N'Stage 1'
WHERE c.collectionsSetName=N'Jungle'
  AND NOT EXISTS (SELECT 1 FROM dbo.tbl_cards x WHERE x.collectionId=c.collectionId AND x.cardNumberInCollection=N'19/64');
GO
